body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

.site__home {
    text-decoration: none;
}

img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 100%;
    height: auto;
    max-height: 500px;
}

.prev-posts a,
.next-posts a {
    text-decoration: none;
}

button.next-posts {
    float: right;
    max-width: 600px;
    font-size: 1.1em;
}

button.prev-posts {
    max-width: 600px;
    font-size: 1.1em;
}

.margin-bottom {
    margin-bottom: 50px;
}

.primary-sidebar ul {
    color: #000 !important;
    background-color: #fff !important;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -15px;
}

.primary-sidebar ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.primary-sidebar ul li a {
    text-decoration: none;
}

.primary-sidebar .tagcloud a {
    color: #000 !important;
    background-color: #fffbfb !important;
    margin-bottom: 16px !important;
    font-size: 16px !important;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    text-decoration: none;
}

.dev-info {
    text-align: center;
}


.comments-meta {
    padding: 20px;
    margin-top: 70px;
}

p.comment-form-comment label {
    display: none;
}

p.form-submit #submit {
    font-size: 18px;
    border: none;
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 4px;
}

p.comment-form-comment textarea {
    resize: none;
}

.comment-author.vcard {
    margin-bottom: 15px;
}

.comment-meta.commentmetadata a {
    text-decoration: none;
}